.about{
  display: block;
  height:100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  background-color: #222233
}
.descrip{
  position: absolute;
  height: 98%;
  width: 40%;
  left: 1%;
}
h1 {
    font-size: 6vmin;
    display: block;
    font-weight: 500;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #AACCFF;
    font-family: Helvetica Neue,Helvetica,sans-serif;
}

p{
  margin:0vmin;
  font-size: 2vmin;
  color:#AACCFF;
}

#background-video{
  position: absolute;
  left:40%;
  opacity: .4;
  height:100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}

.sales{
  position: absolute;
  right: 1px;
}

.legal{
  font-size: 10px;
}
