.champimg{
  height: 100%;
  width: 100%;
  left: 0em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
.full{
  width: 100%;
}
.champ{
  display: block;
  height:900em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.champIn-enter{
  transform: translateY(100%);
}

.champIn-enter.champIn-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}

.mapT-enter{
  transform: translateY(0%);
}

.mapT-enter.mapT-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-image: url('choose_lane_map1.png');
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}
#cName{
  font-size: 6.8em;
  font-size: 5.8vw;
}

.cName{
  height: 96.8%;
  width: 100%;
  left: 0em;
  top:.3em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  opacity: .1;
  color: white;
}
.vs{
  position: absolute;
  height: 20%;
  width: 25%;
  opacity: 1;
  top: 5%;
  border: solid black;
  border-width: 10%;
}

#left{
  right: em;
}
#right{
  right: .1%;
}
.dropdown{
  position: absolute;
  height: 22%;
  width: 25%;
  top: .1%;
  right: .1%;
}
.table{
  position: absolute;
  top: 55%;
  width: 45%;
  left: 15.6%;
  opacity: .9;
}
