.champimg{
  height: 100%;
  width: 100%;
  left: 0em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
.full{
  height: 100%;
  width: 100%;
}
.champ{
  display: block;
  height:900em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.champIn-enter{
  transform: translateY(100%);
}

.champIn-enter.champIn-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}

.mapT-enter{
  transform: translateY(0%);
}

.mapT-enter.mapT-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/choose_lane_map1.png');
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}
#cName{
  font-size: 6.8em;
  font-size: 5.8vw;
}

.cName{
  height: 96.8%;
  width: 100%;
  left: 0em;
  top:.3em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  opacity: .1;
  color: white;
}
.vs{
  position: absolute;
  height: 26%;
  width: 28%;
  opacity: 1;
  top: ;
  border: solid black;
  border-width: 10%;
}

#left{
  right: em;
}
#right{
  right: .1%;
}
.dropdwn{
  position: absolute;
  height: 22%;
  width: 25%;
  top: .1%;
  right: 28.4%;
}

.affh{
  position: absolute;
  top: 9.3%;
  right: 28.4%;
}

.affha{
  position: absolute;
  top:4.7%;
  right: 54%;
}
