.champimg{
  height: 94%;
  width: 100%;
  left: 0em;
  top: 4em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.champ{
  display: block;
  height:900em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.champIn-enter{
  transform: translateY(100%);
}

.champIn-enter.champIn-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}

.mapT-enter{
  transform: translateY(0%);
}

.mapT-enter.mapT-enter-active {
  height:1100em;
  width: 1100em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-image: url('choose_lane_map1.png');
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}
#cName{
  font-size: 6.8em;
  font-size: 5.8vw;
}

.cName{
  height: 96.8%;
  width: 100%;
  left: 0em;
  top:.3em;
  position: absolute;
  background-size: 99% 99%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  opacity: .1;
  color: white;
}
.vs{
  position: relative;
  top: 4em;
  right: em;
  height: 18em;
  width: 24.5em;
  opacity: 1;
  border: black;
  border-width: thick;
}

#d2{
  position: absolute;
  top:40em;
  top: 2vw;
  right: 10em;
  right: -4vw;
}

.svg-wrapper {
  position: absolute;
  right: 12.6%;
  top: 43.6%;
  transform: translateY(-50%);
	  margin: 0 auto;
  height: 30em;
  height: 70%;
  width: 70%;
}
.shape {
  stroke-dasharray: 110 2000;
  stroke-dashoffset: 0;
  stroke-width: 1em;
  fill: transparent;
  stroke: #84FFFF;
  border-bottom: 2px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 1em;
  stroke-dashoffset: 0;
  stroke-dasharray: 0;
}
