.dashboard{
  position: absolute;
  top: 34%;
  width: 100%;
  height: 59%;
}
.op{
  left: 1%;
  position: relative;
  height: 100%;
  width: 30%;
  margin: none;
  display: inline;
}
.chart {
  display: inline;
  width: 20%;
  height: 50%;
}
.main{
  position: relative;
  height: 50%;
  width: 50%;
  right:-34%;
  display: inline;
}
#topChart{
  position: relative;
  display: inline-block;
}
#botChart{
  display: inline-block;
  position: relative;
  top: 57%;
  right: 20%;
}
.bar {
  transition: top .5s, background .5s;
  height: 6%;
  padding-bottom: 1%;
  width: 99%;
}
.bar__label, .label {
  display: inline-block;
  font-family: sans-serif;
  font-size: 100%;
  color: 	#19f6e8;
  text-transform: uppercase;
  vertical-align: top;
}
.bar__label {
  text-align: right;
  display: inline;
}
.highlighted .bar__label {
  font-weight: bold;
}
.bar__mark {
  background: #69F0AE;
  display: inline-block;
  height: 100%;
  transition: width .1s, background .1s;
  color: salmon;
  text-align: right;
  font-size: 100%;
}

.highlighted .bar__mark {
  background: white;
  color: salmon;
}
