body {
  font-family: sans-serif;
  background-color: black;
  background-size: cover;
  color:white;
  text-align: center;
}

.lane_map {
  display: block;
  height:1100em;
  width: 1200em;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  background-image:url('choose_lane_map1.png');
  max-width: 100%;
  max-height: 100%;
}

.top_lane {
  top: 10%;
  right:75%;
  position: absolute;
  background-size: cover;
  height:4em;
  width: 4em;
  background-image: url('top_lane.png');
  max-width: 2%;
  max-height: 4%;
}
