.lane_map {
  display: block;
  height:100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: absolute;
  background-image:url('https://s3.us-east-2.amazonaws.com/lanevii/choose_lane_map1.png');
  max-width: 100%;
  max-height: 100%;
}

.lane_parent:hover .lane_desc_parent {
  visibility: visible;
  opacity: 1;
  transform: scale(1.2);
  transition: .45s;
}

.lane_desc{
  transition: .45s;
  color:white;
  margin:4em;
}
.lane_desc_parent{
  visibility: hidden;
  opacity: 0;
}
.lane_desc:hover{
  color: white;
  text-decoration: none;
  margin: 4em;
  transform: scale(1.2)
}
.lane_parent{
  transition: .45s;
  height: 4em;
  width: 4em;
  position: absolute;
  visibility: visible;
  opacity: 1;
}

.lane_parent:hover {
  transform: scale(1.2);
  color: white;
}

#top_parent{
  top: 22%;
  right: 75%;
}
#bottom_parent{
  top: 82%;
  right: 19%;
}
#middle_parent{
  top: 52%;
  right: 50%;
}
#jungle_parent{
  top: 43%;
  right: 68%;
}
#support_parent{
  top: 88%;
  right: 25%;
}
.lane:hover{
  transition: all 2.5s;
  transform: scale(1.2);
}
#top {
  transition: all 2.5s;
  height: 4em;
  width: 4em;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-repeat:no-repeat;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/TOP.png');
}

#bottom {
  position: absolute;
  background-size: cover;
  height: 4em;
  width: 4em;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/BOTTOM.png');
  max-width: 100%;
  max-height: 100%;
}

#jungle {
  position: absolute;
  background-size: cover;
  height: 4em;
  width: 4em;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/JUNGLE.png');
  max-width: 100%;
  max-height: 100%;
}

#middle {
  position: absolute;
  background-size: cover;
  height: 4em;
  width: 4em;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/MIDDLE.png');
  max-width: 100%;
  max-height: 100%;
}

#support {
  position: absolute;
  background-size: cover;
  height: 4em;
  width: 4em;
  background-image: url('https://s3.us-east-2.amazonaws.com/lanevii/SUPPORT.png');
  max-width: 100%;
  max-height: 100%;
}
.legal{
  font-size: 10px;
  position: absolute;
  left: 1%;
  top: 98.2%;
}

.aff{
  position: absolute;
  top: 10%;
  left: .1px;
}

.affr{
  position: absolute;
  top: 10%;
  right: .1px;
}
